[Desktop Entry]
Name=CuteRest
GenericName=CuteRest REST client tool
Comment=Communicate with REST servers and manage JSON requests
Icon=cuterest
Type=Application
Categories=Network;
Exec=cuterest
StartupNotify=false
Terminal=false
