QMainWindow::separator {

    margin: 0px;
    padding: 0px;
    width: 1px;

  
}


QAbstractItemView{



}


 QTabWidget::pane#response {
     margin : 0px;


}
QToolButton {
    
}

 QDockWidget::title {
   margin:6px;
 }
